name: Publish

# Builds the Action when a release is published or updated

on:
  release:
    types: [published, edited]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone the repository
        uses: actions/checkout@v2.3.4
        with:
          ref: ${{ github.event.release.tag_name }}
      - name: Install dependencies
        run: npm ci
      - name: Build the Action
        run: npm run build
      - name: Update the release with the built Action and standardize tags
        uses: JasonEtco/build-and-tag-action@v2
        env:
          GITHUB_TOKEN: ${{ github.token }}
