name: Test

# Executes tests on all pull requests and merges into the default branch

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  unitTest:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v2.3.4
      - name: Install dependencies
        run: npm ci
      - name: Execute tests
        run: npm run ci

  integrationTest:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v2.3.4
      - name: Install dependencies
        run: npm ci
      - name: Build the Action
        run: npm run build
      - name: Execute end-to-end test
        uses: ./
        id: result
        with:
          format: '[tada]'
      - name: "Fail unless steps.result.outputs.date == 'tada'"
        run: exit 1
        if: steps.result.outputs.date != 'tada'
